*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px

  @media only screen and (max-width: 1500px) {
    font-size: 50%; // 1 rem = 8px
  }
}

body {
  background: white;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
