// Colors
$color-white: #ffffff;
$color-gray-1: #555555;
$color-apple-1: #51b549;
$color-science-blue: #044dc3;
$color-persimmon: #ff5b4d;
$color-alabaster: #f7f7f7;
$color-porcelain-1: #edf1f2;
$color-porcelain-2: #e2e7e9;
$color-cinnabar-1: #e44e41;
$color-zest: #e37d34;
$color-apple-2: #52b449;
$color-funblue: #185ba5;
$color-congressblue: #005396;
$color-carnation: #f54257;
$color-supernova: #ffce00;
$color-cardinal: #d01d32;
$color-gray-2: #707070;
$color-gray-3: #00000019;
$color-black: #000000;
$color-concrete: #f2f2f2;
$color-zest-2: #e37c33;
$color-gray-4: #9b9b9b;
$color-mercury: #e6e6e6;
$color-tara: #e2f7e1;
$color-cinnabar-2: #e64e41;
$color-zumthor: #e8f1ff;
$color-fairpink: #ffeae8;
$color-peachcream: #ffede0;

$bg-banner: transparent url("../../images/banner.png");

$bg-footer: $color-concrete 0% 0% no-repeat padding-box;
$bg-copyright: $color-mercury 0% 0% no-repeat padding-box;
$bg-white: $color-white 0% 0% no-repeat padding-box;

$bg-googleplay: transparent url("../../images/icon_googleplay.svg") 0% 0%
  no-repeat padding-box;
$bg-appstore: transparent url("../../images/icon_appstore.svg") 0% 0% no-repeat
  padding-box;

$bg-facebook: transparent url("../../images/facebook.svg") 0% 0% no-repeat
  padding-box;
$bg-twitter: transparent url("../../images/twitter.svg") 0% 0% no-repeat
  padding-box;
$bg-instagram: transparent url("../../images/instagram.svg") 0% 0% no-repeat
  padding-box;
$bg-youtube: transparent url("../../images/youtube.svg") 0% 0% no-repeat
  padding-box;
$bg-blog: transparent url("../../images/blog.svg") 0% 0% no-repeat padding-box;

/*

  320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops.
  1025px — 1200px: Desktops, large screens.
  1201px and more — Extra large screens, TV.

*/

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

// Custom breakpoints
$bp-largest: 1800px;
