// Colors
$color-white: #ffffff;
$color-gray-1: #555555;
$color-apple-1: #51b549;
$color-science-blue: #044dc3;
$color-persimmon: #ff5b4d;
$color-alabaster: #f7f7f7;
$color-porcelain-1: #edf1f2;
$color-porcelain-2: #e2e7e9;
$color-cinnabar-1: #e44e41;
$color-zest: #e37d34;
$color-apple-2: #52b449;
$color-funblue: #185ba5;
$color-congressblue: #005396;
$color-carnation: #f54257;
$color-supernova: #ffce00;
$color-cardinal: #d01d32;
$color-gray-2: #707070;
$color-gray-3: #00000019;
$color-black: #000000;
$color-concrete: #f2f2f2;
$color-zest-2: #e37c33;
$color-gray-4: #9b9b9b;
$color-mercury: #e6e6e6;
$color-tara: #e2f7e1;
$color-cinnabar-2: #e64e41;
$color-zumthor: #e8f1ff;
$color-fairpink: #ffeae8;
$color-peachcream: #ffede0;
