.breadcrumb {
  margin-left: 20rem;

  @media only screen and (max-width: 1771px) {
    margin-left: 15rem;
  }

  @media only screen and (max-width: 1674px) {
    margin-left: 10rem;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    font: $font-9;
    color: $color-gray-1;

    &:not(:last-child):after {
      content: " > ";
      width: 0.9rem;
      height: 0.9rem;
      transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
      margin-right: 0.3em;
    }

    &:last-child {
      color: $color-apple-1;
    }
  }
}
