.discount {
  padding-top: 3.29rem;
  height: 28.8rem;
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 1rem;
    margin-right: 2rem;
    width: 480px;
    height: 153px;
    background: $color-fairpink 0% 0% no-repeat padding-box;
    border-radius: 10px;
  }

  &__container {
    display: flex;
  }

  &__image {
    width: 167px;
    height: 133px;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5rem;
  }

  &__title {
    font: $font-custom-300_24-30;
    letter-spacing: 0px;
    color: $color-gray-2;
    margin-bottom: 0.9rem;
  }

  &__link {
    width: 104px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background: $color-white 0% 0% no-repeat padding-box;
    border-radius: 15px;
    font: $font-custom-600_13-30;
    letter-spacing: 0px;
    color: $color-cinnabar-2;
  }
}
