.logo {
  margin-left: 20rem;

  @media only screen and (max-width: 1771px) {
    margin-left: 15rem;
  }

  @media only screen and (max-width: 1674px) {
    margin-left: 10rem;
  }

  @media only screen and (max-width: 768px) {
    margin-left: 5rem;
  }
}
