.p-card {
  &::after {
    display: inline-block;
    content: "";
    width: 100%;
    border: $border-2px-solid-porcelain-1;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 272px;
    height: 400px;
    background: $bg-white;
    border: $border-solid-porcelain-2;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  &__picture {
    width: 242px;
    height: 244px;
    border-radius: 10px;
  }

  &__title {
    font: $font-custom-600_15-17;
    color: $color-gray-1;
  }

  &__subtitle {
    font: $font-custom-600_15-13;
    color: $color-apple-1;
  }

  &__price {
    font: $font-custom-600_16-13;
    color: $color-black;
  }

  &__button {
    width: 242px;
    height: 40px;
    border: $border-solid-science-blue;
    border-radius: 22px;
    font: $font-custom-600_15-15;
    color: $color-science-blue;
    background-color: $color-white;
  }
}
