.content {
  background-color: $color-white;
  max-width: 160rem;
  min-height: 50rem;
  margin: 1rem auto;
}

.category-menu {
  &__head {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 0.6rem;
  }

  &__header {
    font: $font-7;
    color: $color-science-blue;
  }

  &__content {
    margin-top: 1rem;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 50px;
    background: $color-science-blue 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: $font-custom-600_18-23;
    color: $color-white;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.product {
  margin-top: 3rem;
  margin-bottom: 1rem;

  &__head {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__header {
    font: $font-custom-300_20-30;
    color: $color-gray-2;
  }
}
