.footer {
  height: 103.4rem;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.our-apps {
  width: 1480px;
  height: 222px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 111px;
  margin-top: 14.6rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__left {
  }

  &__right {
    align-self: center;
  }

  &__ content {
  }

  &__image {
  }

  &__qrcode {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.68rem;
  }

  &__qrcode-image {
    margin-right: 2em;
  }

  &__qrcode-title {
    font: normal normal bold 18px/23px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
  }

  &__qrcode-subtitle {
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
  }

  &__links {
    display: flex;
    list-style-type: none;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--googleplay {
      width: 175px;
      height: 52px;
      background: transparent url("../../images/icon_googleplay.svg") 0% 0%
        no-repeat padding-box;
    }
    &--appstore {
      width: 200px;
      height: 52px;
      background: transparent url("../../images/icon_appstore.svg") 0% 0%
        no-repeat padding-box;
    }
  }
}

.description {
  text-align: center;
  width: 1320px;
  font: normal normal normal 15px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 10rem;
}

.copyright {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  font: normal normal normal 13px/17px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
}

.box {
  height: 25rem;
  margin-top: 9.6rem;
  width: 80%;
  display: flex;

  &__left {
    position: relative;
    margin-left: 10rem;
    &::after {
      content: " ";
      height: 266px;
      position: absolute;
      z-index: 1;
      border-right: 1px solid black;
      display: block;
      top: 0%;
      left: 120%;
      height: 100%;
      border-right: 1px dashed #9b9b9b;
    }
  }

  &__right {
    margin-left: 15rem;
  }

  &__description {
    max-width: 35rem;
    height: 19px;
    text-align: left;
    font: normal normal normal 15px/22px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
  }
}

.social-menu {
  margin-top: 2.8rem;
  margin-bottom: 2.1rem;
  display: flex;
  align-items: center;
  list-style-type: none;
  &__item {
    width: 27px;
    height: 27px;
    margin-right: 3.1rem;
    &--facebook {
      background: transparent url("../../images/facebook.svg") 0% 0% no-repeat
        padding-box;
    }

    &--twitter {
      background: transparent url("../../images/twitter.svg") 0% 0% no-repeat
        padding-box;
    }

    &--instagram {
      background: transparent url("../../images/instagram.svg") 0% 0% no-repeat
        padding-box;
    }

    &--youtube {
      width: 35px;
      background: transparent url("../../images/youtube.svg") 0% 0% no-repeat
        padding-box;
    }
    &--blog {
      width: 35px;
      background: transparent url("../../images/blog.svg") 0% 0% no-repeat
        padding-box;
    }
  }
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  &__item {
    width: 188px;
    height: 100%;
    margin-right: 3.5rem;
  }

  &__submenu {
    list-style-type: none;
    &__item {
      font: normal normal normal 15px/19px Source Sans Pro;
      letter-spacing: 0px;
      color: #000000;
      margin-bottom: 0.9rem;
      &--header {
        font: normal normal normal 18px/23px Source Sans Pro;
        color: #044dc3;
        margin-bottom: 1rem;
      }
    }
  }
}
