.footer {
  height: 103.4rem;
  background: $bg-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.our-apps {
  width: 148rem;
  height: 222px;
  background: $bg-white;
  border-radius: 111px;
  margin-top: 14.6rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__right {
    align-self: center;
  }

  &__qrcode {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.68rem;
  }

  &__qrcode-image {
    margin-right: 2em;
  }

  &__qrcode-title {
    font: $font-1-bold;
    color: $color-black;
  }

  &__qrcode-subtitle {
    font: $font-2;
    color: $color-black;
  }

  &__links {
    display: flex;
    list-style-type: none;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--googleplay {
      width: 175px;
      height: 52px;
      background: $bg-googleplay;
    }
    &--appstore {
      width: 200px;
      height: 52px;
      background: $bg-appstore;
    }
  }
}

.description {
  text-align: center;
  width: 1320px;
  font: $font-3;
  color: $color-black;
  margin-top: 10rem;
}

.copyright {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: $bg-copyright;
  font: $font-4;
  color: $color-black;
}

.box {
  height: 25rem;
  margin-top: 9.6rem;
  width: 80%;
  display: flex;

  &__left {
    position: relative;
    margin-left: 10rem;
    &::after {
      content: " ";
      height: 266px;
      position: absolute;
      z-index: 1;
      border-right: $border-solid-black;
      display: block;
      top: 0%;
      left: 120%;
      height: 100%;
      border-right: $border-dashed-gray-4;
    }
  }

  &__right {
    margin-left: 15rem;
  }

  &__description {
    max-width: 35rem;
    height: 19px;
    text-align: left;
    font: $font-3;
    color: $color-black;
  }
}

.social-menu {
  margin-top: 2.8rem;
  margin-bottom: 2.1rem;
  display: flex;
  align-items: center;
  list-style-type: none;
  &__item {
    width: 27px;
    height: 27px;
    margin-right: 3.1rem;
    &--facebook {
      background: $bg-facebook;
    }

    &--twitter {
      background: $bg-twitter;
    }

    &--instagram {
      background: $bg-instagram;
    }

    &--youtube {
      width: 35px;
      background: $bg-youtube;
    }
    &--blog {
      width: 35px;
      background: $bg-blog;
    }
  }
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  &__item {
    width: 188px;
    height: 100%;
    margin-right: 3.5rem;
  }

  &__submenu {
    list-style-type: none;
    &__item {
      font: $font-5;
      color: $color-black;
      margin-bottom: 0.9rem;
      &--header {
        font: $font-1;
        color: $color-science-blue;
        margin-bottom: 1rem;
      }
    }
  }
}
